
<h1>Modulos agro diponíveis</h1>

<div class="card shadow" style="width: 12rem;" style="display: inline-block;">
    <div class="card-body" [routerLink]="[ '/solos']">
      <h5 class="card-title">Solos</h5>
      <p class="card-text">Gerencie os solos.</p>
      <a [routerLink]="[ '/solos']" class="btn btn-primary">Solos</a>
    </div>
</div>


<div class="card shadow" style="width: 12rem;" style="display: inline-block; margin-left: 4px">
    <div class="card-body" [routerLink]="[ '/culturas']">
      <h5 class="card-title">Culturas</h5>
      <p class="card-text">Gerencie as culturas.</p>
      <a [routerLink]="[ '/culturas']" class="btn btn-primary">Culturas</a>
    </div>
</div>

<div class="card shadow" style="width: 12rem;" style="display: inline-block; margin-left: 4px">
    <div class="card-body" [routerLink]="[ '/areas']">
      <h5 class="card-title">Areas</h5>
      <p class="card-text">Gerencie as Areas.</p>
      <a [routerLink]="[ '/culturas']" class="btn btn-primary">Areas</a>
    </div>
</div>
