
<!--
<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="col-sm-12">
        <label for="nome" class="controll-label">Nome</label>
    </div>
    <div class="col-sm-12">
        <input type="text" class="form-controll" formControlName="nome" id="nome" placeholder="Nome">
    </div>
  </div>
  <div class="form-group">
      <div class="col-sm-12">
          <label for="email" class="controll-label">Email</label>
      </div>
      <div class="col-sm-12">
          <input type="text" class="form-controll" formControlName="email" id="email" placeholder="email@exemplo.com">
      </div>
  </div>
  <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
    

</form>

-->

<h1>Agro é Tech. Agro é pop. Agro...</h1>

