


<!--

    <nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/solos']">Solos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/login']">Login</a> 
                </li>
            </ul>
        </div>
    </div>
</nav>
-->

<app-header></app-header>

<div class="container">
    <router-outlet></router-outlet>
</div>




